# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ali_u\KTH\Ak 2\HI1039 Projektkurs inom programvaruutveckling\Kod\KTHG-DProject2021\src\main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
